{{!--
Re-usable card for linking to posts
--}}

{{#if highlight}}
    <article class="post-card bg-white rounded-xl overflow-hidden relative {{post_class}}">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="post-card__image md:w-1/2 md:flex-none md:relative">
                <img class="w-full md:object-cover md:min-w-full md:min-h-full md:w-auto md:h-auto md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
            </div>
            <div class="p-5 py-10 mb-4 md:order-1 md:mr-8 lg-mr-32 md:self-start">
                <p class="post-card__tag mb-2">{{tags separator=", "}}</p>
                <h2 class="post-card__title text-xl font-bold mb-2">{{title}}</h2>
                <p class="post-card__date-author mb-4"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM, YYYY"}}</time> • {{authors separator=", "}}</p>
                {{excerpt}}
            </div>
        </div>
        <a class="block w-full h-full absolute inset-0 z-10" href="{{url}}"></a>
    </article>
{{else}}
    <article class="post-card bg-white rounded-xl overflow-hidden relative {{post_class}}">
        <div class="flex flex-col {{#unless vertical}}md:flex-row md:justify-between{{/unless}}">
            {{#if feature_image}}
                <div class="post-card__image {{#unless vertical}}md:order-2 md:w-1/2 md:flex-none md:relative lg:w-1/4{{/unless}}">
                    <img class="w-full {{#unless vertical}}md:object-cover md:min-w-full md:min-h-full md:w-auto md:h-auto md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2{{/unless}}"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                </div>
            {{/if}}
            <div class="p-5 {{#unless vertical}}py-10 md:order-1 md:mr-8 lg-mr-32{{/unless}}">
                <p class="post-card__tag mb-2">{{tags separator=", "}}</p>
                <h2 class="post-card__title text-xl font-bold mb-2">{{title}}</h2>
                <p class="post-card__date-author mb-0"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM, YYYY"}}</time> • {{authors separator=", "}}</p>
            </div>
        </div>
        <a class="block w-full h-full absolute inset-0 z-10" href="{{url}}"></a>
    </article>
{{/if}}